.Login_form {
  text-align: center;
  margin-top: 100px;
}

.input_box {
  position: relative;
  width: 250px;
  margin: 30px auto;
}

.Login_id,
.Login_pw {
  width: 100%;
  border: none;
  border-bottom: 1px solid black;
  font-size: 16px;
  padding: 10px 0;
  background: transparent;
  outline: none;
}

.input_box label {
  position: absolute;
  left: 0;
  top: 10px;
  color: #555;
  font-size: 16px;
  pointer-events: none;
  transition: 0.3s ease all;
}

.Login_id:focus ~ label,
.Login_pw:focus ~ label,
.Login_id:valid ~ label,
.Login_pw:valid ~ label {
  top: -10px;
  font-size: 12px;
  color: gray;
}

.Login_btn {
  height: 40px;
  width: 250px;
  border: none;
  background: black;
  color: white;
  font-size: 15px;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.2s;
}

.Login_btn:hover {
  background: #333;
}
